@import './../abstracts/variables';

.sidemenu {
  position: fixed;
  width: 210px;
  padding: 20px 10px 20px 0;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .sidemenu {
    position: relative;
  }
}
.sidemenu .item {
  display: block;
  color: $black-4;
  padding: 5px 20px;
  background-color: transparent;
  border-radius: 30px;
}
.sidemenu .item:hover {
  background-color: $grey-1;
}
.sidemenu .item.active {
  padding: 5px 20px;
  background-color: $grey-1;
  border-radius: 30px;
}